/* Enyo v2.0.0 | Copyright 2011-2012 Hewlett-Packard Development Company, L.P. | enyojs.com | enyojs.com/license */

/* ../dom/dom.css */

/* for apps */

html, body {
	margin: 0;
	height: 100%;
	/* ios needs at least overflow: auto to scroll */
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
}

/* reset */

button {
	font-size: inherit;
	font-family: inherit;
}

/* user selection */

.enyo-unselectable {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
}

.enyo-unselectable ::selection {
	color: transparent;
}

.enyo-selectable {
	cursor: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
}

.enyo-selectable ::selection {
	background: #3297FD;
	color: #FFF;
}

/* layout */

.enyo-fit {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* ../touch/Scroller.css */

.enyo-scroller {
	overflow: hidden;
}

.enyo-touch-scroller {
	overflow: hidden;
}

/* Styles relevant to the ToDo App starts here*/
#content{
	margin-top:50px;
}

#content a:hover{
	text-decoration:none;
	cursor:pointer;
}
#content .toDo{
	border-style: solid; 
	border-width: 2px; 
	padding: 10px; 
	margin: 10px; 
	min-height: 50px;	
}
#content .ol-container{
	margin-top:20px;
}
#content .ol-container-li{
	margin-top:10px;
}
.footer{
	margin: 0 auto;
	padding: 50px 0 25px;
	text-align: center;
}
